
body {
	display: flex;
	width: 90%;

	margin-left: auto;
	margin-right: auto;
	max-width: 85ch;

	/* background-color: rgb(38, 22, 48); */
	background-image: url("/dr.png");
	color: rgb(229, 185, 255);
	font-family: sans-serif;
}

.main {
	margin-top: 6rem;
	margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
	background-color: rgba(38, 22, 48, .5);
	padding: 1rem;
}

@media screen and (min-width: 768px) {
	body {
		width: 80%;
	}
}

@media screen and (min-width: 1920px) {
	body {
		width: 70%;
	}
}

.footer{
	padding: 1vh;
	font-size: 1rem;
	text-align: center;
}

.smol {
	font-size: 0.75rem;
}

a {
	color: rgb(217, 128, 255)
}

.badges {
	image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}